.faqpage{
    min-height: 50vh;
    max-height: fit-content;
    background-color: aliceblue;
}

.faqpage h2{
    font-size: 30px;
}

.faq-components{
    width: 80%;
}

.faq-components h3{
    font-size: 20px;
}

@media only screen and (max-width: 820px) {
    .faqpage h2{
        font-size: 25px;
    }

    .faq-components{
        width: 100%;
        margin-bottom: 0;
    }

    .faq-components h3{
        font-size: 17px;
    }
}