.header {
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  position: fixed !important;
  top: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
  z-index: 1000;
  border-bottom: 0.5px solid rgba(12, 38, 61, 0.9);
}

.logo {
  font-family: 'CustomFont', sans-serif;
  margin-left: 5vw;
  margin-top: 3px;
  color: rgba(12, 38, 61, 1);
  font-size: 20px;
}

.trading {
  color: rgb(4, 155, 214);
}

.nav-links {
  right: 10rem;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 40%;
}


.links {
  color: rgb(3, 151, 177);
  font-weight: bold;
  border-color: rgba(73, 44, 44, 0);
}

.links:hover {
  color: rgb(17, 1, 107);
}

.links:active {
  text-decoration: none;
  color: aqua;
}

.menu-icon {
  display: none;
}

/*menu icon*/
#copyright {
  bottom: 3%;
  left: 35%;
  position: absolute;
  color: rgb(7, 163, 190);
}

.my-icon11 {
  margin-right: 0.3rem;
  color: rgb(7, 163, 190);
  margin-top: 5px;
  margin-left: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: rgb(0, 135, 253);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  background-color: rgb(226, 58, 7);
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  background-color: rgb(226, 58, 7);
}

@media only screen and (max-width: 820px) {

  .nav-links {
    display: none;
  }

  .logo {
    position: absolute;
    left: 1rem;
    font-size: 16px;
  }

  .new-links {
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    color: rgb(2, 139, 139);
    background-color: white;
    padding: 5px;
    padding-top: 1rem;
    box-shadow: 0 1px 1px rgba(12, 245, 245, 0.5);
  }

  .links {
    margin-left: 4px;
    margin-top: 1.5rem;
  }

  .menu-icon {
    display: block;
    margin-left: 2rem;
    color: rgba(12, 38, 61, 1);
  }

  #menu {
    top: 7px;
    right: 0;
    position: absolute;
    width: 5rem;
    height: 4rem;
  }

  .header {
    height: 4rem;
    margin-bottom: 0;
    background-color: white;
  }


}

@media only screen and (max-width: 820px) {
  .links {
    font-size: 1rem;
    margin-left: 10px;
  }
}

.btn-start-trading {
  background-color: rgba(12, 38, 61, 1);
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

.btn-start-trading:hover {
  background-color: red;
}

/* user detail data */
.fulname {
  font-weight: bold;
  font-size: 0.9vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}

.emailinheader2 {
  margin: 0;
}


.face-icon {
  font-size: 2vw;
  margin-right: 0.8vw;
  opacity: 1;
}