.loginsection {
    width: 50vw;
    border-radius: 3rem;
}


.insidelogin {
    min-height: 50vh;
    /* background: linear-gradient(to right, rgba(1, 1, 194, 0.4), rgba(1, 1, 194, 0.2)); */
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.firstdiv {
    width: 50%;
    height: 100%;
    background-image: url(https://s3.tradingview.com/userpics/12465059-3uZm_orig.png);
    background-size: cover;
    position: absolute;
    left: 0;

}

.contentdiv {
    background: linear-gradient(to top, rgba(1, 1, 116, 0.7), rgba(1, 1, 155, 0.6));
}

.contentdiv h1 {
    font-size: 40px;
}

.seconddiv {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: white;
}

#in-form-head {
    font-size: 40px;
}

.aplyf {
    width: 80%;
    height: 4rem;
    border-radius: 1rem;
    outline: none;
    padding-left: 2rem;
    border: 2px solid rgba(14, 2, 68, 0.5);
}

.aplyfs {
    width: 80%;
    height: 4rem;
    border-radius: 1rem;
    outline: none;
    background-color: rgba(14, 2, 68, 1);
    color: white;
}

@media only screen and (max-width: 820px) {
    #in-form-head {
        font-size: 25px;
    }
    .insidelogin {
        min-height: 80vh;
        width: 85vw;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .aplyfs {
        width: 90%;
        height: 3rem !important;
        border-radius: 0.5rem;
        outline: none;
        background-color: rgba(14, 2, 68, 1);
        color: white;
    }

    .aplyf {
        width: 90%;
        height: 3rem;
        border-radius: 0.5rem;
        outline: none;
        padding-left: 2rem;
        border: 2px solid rgba(14, 2, 68, 0.5);
    }

    .firstdiv {
        width:90vw;
        height: 50%;
        background-image: url(https://s3.tradingview.com/userpics/12465059-3uZm_orig.png);
        background-size: cover;
        position: absolute;
        top: 0;
        left: none;
        align-self: center !important;
    }

    .seconddiv {
        width: 90vw;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: none;
        left: 0;
        background-color: white;
        align-self: center !important;
    }

}