.about-container {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    padding-top: 6rem; /* To account for the fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.about-header {
    background-color: rgba(12, 38, 61, 1);
    width: 100%;
    padding: 1.5rem 2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
}

.about-content {
    width: 80%;
    font-family: 'MontserratAlternates-Light', sans-serif;
    color: rgba(12, 38, 61, 0.8);
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    box-shadow: 0 0 9px rgba(115, 162, 250, 0.5);
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(253, 250, 246);
    margin-bottom: 4rem; /* Ensures equal spacing between content and footer */
}

/* About Us Subsections */
.about-section {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 9px rgba(115, 162, 250, 0.2);
    border-radius: 0.5rem;
}

/* FAQ Section */
.faqpage {
    min-height: 50vh;
    max-height: fit-content;
    background-color: aliceblue;
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqpage h2 {
    font-size: 30px;
    color: rgba(12, 38, 61, 0.9);
    text-align: center;
}

.faq-components {
    width: 80%;
    text-align: left;
}

.faq-components h3 {
    font-size: 20px;
    cursor: pointer;
    color: rgba(12, 38, 61, 0.9);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.faq-answer {
    padding-left: 1rem;
    font-size: 16px;
    color: rgba(12, 38, 61, 0.8);
    line-height: 1.5;
}

@media only screen and (max-width: 820px) {
    .faqpage h2 {
        font-size: 25px;
    }

    .faq-components {
        width: 100%;
        margin-bottom: 0;
    }

    .faq-components h3 {
        font-size: 17px;
    }
}
