.servicesdive  h2{
    font-size: 20px;
   font-weight: bold;
}

.what-we-offer{
    font-size: 30px !important;
}

.servicesdive1{
    height: fit-content;
    flex-direction: row;
}

.servicescards {
    height: 20rem;
    width: 20rem;
    position: relative;
    margin-right: 2rem;
}

.servicescards h2{
    color: rgba(12, 38, 61,1);
    font-family: 'MontserratAlternates-Light';
}

.servicescards h1 {
    color: #0ba2da ;
}

.servicescards a {
    color: #0ba2da ;
    position: absolute;
    bottom: 1rem;
}

.servicescards a:hover {
    color: rgb(73, 73, 73);
}

.servicesdive h1 {
    font-size: 35px;
}

@media only screen and (max-width: 820px) {
    .servicesdive1 {
        height: fit-content;
        flex-direction: column;
    }

    .servicesdive h1 {
        font-size: 27px;
    }

    .servicescards {
        background-color: rgb(253, 253, 253);
        min-height: 20rem;
        max-height: fit-content;
        width: 90%;
        box-shadow: 2px 2px 3px 0px rgb(153, 165, 170);
        position: relative;
        margin-bottom: 2rem !important;
        align-self: center;
        margin: 0;
    }
}