.dashoard {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    position: relative;

    /* Hide scrollbar for modern browsers */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.dashboard::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.logo {
    font-family: 'CustomFont', sans-serif;
    margin-top: 5px;
    color: rgba(4, 155, 214, 0.5);
    font-size: 18px;
    margin-left: 0;
    /* text-align: center; */
}

#nav-bar {
    height: 100vh;
    width: 12vw;
    margin: 0;
    padding: 1rem;
    background-color: rgba(12, 38, 61, 1);
    position: fixed;
}

.hidden {
    width: 0;
    /* Collapse the nav bar to 0 width when hidden */
}

.toggle-nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    transform: translateX(-50%);
    width: fit-content;
}

.toggle-icon {
    font-size: 34px;
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links-in-nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    height: 80vh;
}

.logout-link {
    position: absolute;
    bottom: 2rem;
}

.logout-icon,
.logout-text {
    display: inline;
    color: rgb(255, 2, 2);
}

.logout-icon {
    font-size: 25px;
    margin-right: 0.5vw;
}

.link-icon {

    margin-right: 0.5vw;
    /* opacity: 0.5; */
}

.link-text:hover,
.link-icon:hover {
    color: white;
}

.link-icon,
.link-text {
    color: rgb(4, 155, 214);
    /* font-size: 15px; */
    font-weight: bold;
}

.dashboard-conntent {
    transition: width 3s ease;
}

.nav-visible {
    min-height: 100vh;
    max-height: fit-content;
    width: 88vw;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    align-self: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
}

.nav-hidden {
    width: 100vw;
    min-height: 100vh;
    z-index: 2000;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    align-self: flex-end;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    top: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.mobile-drop_down {
    display: none;
}

@media only screen and (max-width: 820px) {
    .nav-visible {
        display: none !important;
    }

    #nav-bar {
        min-height: 100vh;
        max-height: fit-content;
        width: 100vw !important;
        margin: 0;
        padding: 1rem;
        background-color: rgba(12, 38, 61, 1);
        position: fixed;
    }

    .links-in-nav-bar {
        position: relative;
        height: fit-content;
        overflow-y: scroll;
    }

    .logo,
    .logout-link,
    .excution_time,
    .balance_div_in_hearder,
    .names_and_email {
        display: none;
    }

    .face-icon {
        font-size: 2rem !important;
        margin-right: 0.8vw;
        opacity: 1;
    }

    .mobile-drop_down {
        display: flex;
        flex-direction: column;
    }

    .small-header {
        padding-left: 0rem !important;
    }

    .link-icon,
    .link-text {
        font-size: 1rem;
    }

    .link-icon {
        margin-right: 0.5rem;
    }
}

.dashboard-conntent::-webkit-scrollbar {
    display: none;
}

.quick-links-content {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 1.5rem;
    font-weight: bold;
}

/* 
small header styles
 */
.small-header {
    background-color: rgba(12, 38, 61, 1);
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 4vw;
    padding-left: 1rem;
    color: white;
    position: fixed;
}

.small-header h3 {
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    border-radius: 0.3rem;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Disabled Button Style */
.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.quick-links {
    display: flex;
    flex-direction: row;
}

.fulname,
#runing-time {
    font-weight: bold;
    font-size: 0.9vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1) !important;
    text-align: left;
}

.emailinheader2 {
    margin: 0;
    color: rgba(255, 255, 255) !important;
}


.face-icon {
    font-size: 2vw;
    margin-right: 0.8vw;
    opacity: 1;
}

/* hiding alll content unless clicked */
.hidden-content {
    display: none;
}

/*
superset chart div 
 */
.superset-chatrs-div {
    display: flex;
    width: 100%;
    height: fit-content;
    align-self: center;
    border-radius: 0.5rem;
    background-color: rgb(253, 250, 246);
    /* box-shadow: 0 0 9px rgba(115, 162, 250, 0.5); */
    padding-top: 6rem;
}

.settings-div {
    display: flex;
    width: 100%;
    height: 60vh;
    align-self: center;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-top: 6rem !important;
}

.active-link,
.active-link p {
    color: white;
    font-weight: bold;
    opacity: 1 !important;
}

.settings-divv {
    display: flex;
    width: 100%;
    height: 100vh;
    align-self: center;
    padding-top: 6rem !important;
}