.dashboard {
    background-color: rgb(255, 255, 255);
    
    /* padding: 2rem; */
}

.insidediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personalinfo-div {
    padding-top: 5rem;
    width: 100%;
    height: 20rem;
    padding-left: 6rem;
    background-color: rgba(12, 38, 61, 0.8);
    position: relative;
    flex-direction: row;
}

.dashboard-imge{
    background-image: url(https://s3.tradingview.com/y/y2yJHAWc_big.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 1rem;
}

.namesandemail{
    position: absolute;
    left: 6rem;
}

.fulname {
    font-size: 40px;
    font-weight: bold;
    font-family: 'MontserratAlternates-Light';
    color: white;
}

.emailinheader{
    color: rgb(0, 135, 253);
}

.top-links {
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    position: absolute;
    right: 6rem;
}

.inside-utton2 {
    background-color: rgb(226, 124, 7);
    width: 10rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 1rem;
}


.inside-utton {
    background-color: #0ba2da;
    width: 10rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    color: white;
}

.balancediv {
    width: 90%;
    height: 15rem;
    border: 1px solid rgb(111, 196, 252);
    border-radius: 0.5rem;
    padding: 2rem;

}

.balancediv h2 {
    font-weight: bold;
}

.balancediv h1 {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'MontserratAlternates-Light';
    color: rgb(115, 162, 250);
}

.small-info{
    height: 2rem;
    border-top: 2px solid grey;
    justify-content: space-between;
    flex-direction: row;
}

strong{
    color: rgb(104, 156, 253);
}

@media only screen and (max-width: 820px) {
    .small-info{
        height: fit-content;
        border-top: 1px solid grey;
        justify-content: flex-start;
        flex-direction: column;
    }
    .balancediv {
        width: 90%;
        height: fit-content;
    }

    .balancediv h1 {
        font-size: 2rem;
    }

    .personalinfo-div {
        padding-left: 2rem;
    }

    .fulname {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'MontserratAlternates-Light';
        margin-bottom: 0;
    }
    
}